@define-color background rgba(255, 255, 255, 0.1);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code;
    font-weight: bold;
    font-size: 12px;
    color: #e8eaed;
    border-radius: 0;
}

/* tooltip {
  background: blue;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: green;
}
tooltip label{
  color: red;
} */

/* waybar */
#waybar {
    background-color: rgba(51, 51, 51, 0.8);
    /* border-bottom: 2px solid rgb(117, 117, 117); */
    border-radius: 0 0 15px 15px;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 8px;
    background: none;
}

.modules-left *,
.modules-center *,
.modules-right * {
    padding: 0 10px;
}

/* workspaces */
#workspaces {
    background-color: @background;
    padding: 0;
    border-radius: 5px;
}

#workspaces button {
    padding: 0;
    border: 0;
}

#workspaces button:hover {
    background-color: blue;
}

/* tray */
#tray {
    background-color: teal;
}

/* window */
#window {
    background-color: @background;
    border-radius: 5px;
}

/* language */
#language {
    background-color: @background;
    border-radius: 5px 0px 0px 5px;
}

/* mpd */

/* bluetooth */
#bluetooth {
    background-color: @background;
}

/* idle_inhibitor */
#idle_inhibitor {
    background-color: @background;
}

/* pulseaudio */
#pulseaudio {
    background-color: @background;
}

/* network */
#network {
    background-color: @background;
}

/* clock */
#clock {
    background-color: @background;
}

#custom-powermenu {
    background-color: @background;
    border-radius: 0 5px 5px 0;
}