@define-color background rgba(255, 255, 255, 0.08);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode;
    font-size: 14px;
    margin: 0 2px;
    padding: 0 5px;
    color: #93B1A6;
    border-radius: 5px;
}

/* waybar */
#waybar {
    background-color: #0d1117;
}

/* workspaces */
#workspaces {
    background-color: red;
}

/* tray */
#tray {
    background-color: teal;
}

/* window */
#window {
    background-color: @background;
}

/* language */
#language {
    background-color: @background;
}

/* mpd */

/* bluetooth */
#bluetooth {
    background-color: @background;
}

/* idle_inhibitor */
#idle_inhibitor {
    background-color: @background;
}

/* pulseaudio */
#pulseaudio {
    background-color: @background;
}

/* network */
#network {
    background-color: @background;
}

/* clock */
#clock {
    background-color: @background;
}