@define-color background #f8f8f2;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 5px;
}

/* waybar */
#waybar {
    background-color: silver;
}

/* workspaces */
#workspaces {
    background-color: red;
}

/* tray */
#tray {
    background-color: teal;
}

/* window */
#window {
    background-color: @background;
}

/* language */
#language {
    background-color: @background;
}

/* mpd */

/* bluetooth */
#bluetooth {
    background-color: burlywood;
}

/* idle_inhibitor */
#idle_inhibitor {
    background-color: crimson;
}

/* pulseaudio */
#pulseaudio {
    background-color: cadetblue;
}

/* network */
#network {
    background-color: hotpink;
}

/* clock */
#clock {
    background-color: yellowgreen;
}