/* VARIANT 09: Material Design Icons */

@define-color bar-bg rgba(0, 0, 0, 0.55);
@define-color text-main #e8eaed;
@define-color mod-bg-1 #4f535c;
@define-color mod-bg-2 #5c616c;
@define-color mod-bg-3 #69707c;

* {
    font-family: "JetBrainsMono Nerd Font", "Material Design Icons", "sans-serif";
    font-weight: bold;
    font-size: 13px;
    color: @text-main;
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    background-color: @bar-bg;
    border-radius: 5px;
    margin: 2px;
}

.modules-left > * > * {
    padding: 0 10px;
    background-color: @mod-bg-3;
}

.modules-right > * > * {
    padding: 0 10px;
}

#workspaces {
    background-color: @mod-bg-3;
}

#custom-apps {
    padding-right: 0;
}
#mpris {
    padding-left: 0;
}

#pulseaudio,
#custom-notifications,
#bluetooth {
    background-color: @mod-bg-1;
}

#network,
#hyprland-language {
    background-color: @mod-bg-2;
}

#clock,
#custom-powermenu {
    background-color: @mod-bg-3;
}