/*
 * Waybar Theme: 1/10 - Chrome OS Classic Light (Blue Accent)
 */
* {
    font-family: "Inter", "JetBrainsMono Nerd Font", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: none;
    min-height: 0;
}

window#waybar {
    background-color: #f1f3f4; /* Google's light gray */
    color: #202124; /* Google's dark gray text */
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 10px;
}

#workspaces button {
    color: #5f6368;
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button.active {
    color: #4285f4; /* Google Blue */
    border-bottom: 3px solid #4285f4;
}

#clock,
#bluetooth,
#network,
#pulseaudio,
#hyprland-language,
#tray {
    padding: 0 10px;
}

#custom-apps {
    color: #4285f4; /* Google Blue */
    font-size: 18px;
    padding-right: 5px;
}

#custom-powermenu {
    color: #d93025; /* Google Red */
}