/*
 * Waybar Theme: 6/10 - Classic Dark (Red Accent)
 */
* {
    font-family: "Inter", "JetBrainsMono Nerd Font", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: none;
    min-height: 0;
}

window#waybar {
    background-color: #202124; /* Google's dark gray */
    color: #e8eaed; /* Google's light gray text */
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 10px;
}

#workspaces button {
    color: #9aa0a6;
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button.active {
    color: #f28b82; /* Google Red Accent */
    border-bottom: 3px solid #f28b82;
}

#clock,
#bluetooth,
#network,
#pulseaudio,
#hyprland-language,
#tray {
    padding: 0 10px;
}

#custom-apps {
    color: #f28b82; /* Google Red Accent */
    font-size: 18px;
    padding-right: 5px;
}

#custom-powermenu {
    color: #f28b82; /* Google Red Accent */
}