window#waybar { background: rgba(32, 33, 36, 0.95); }
.modules-left { padding-left: 10px; }
.modules-right {
    background: rgba(255, 255, 255, 0.05);
    margin: 4px 8px;
    border-radius: 15px;
    padding: 0 10px;
}
#workspaces button.active { color: #8ab4f8; }
