* {
  font-family: "JetBrainsMono Nerd Font", "sans-serif";
  font-weight: 500;
  font-size: 13px;
  color: #e8eaed;
}

window#waybar {
  background: rgba(40, 42, 46, 0.9);
  border-radius: 6px;
}

.module {
  padding: 0 12px;
  margin: 3px 0;
}

/* Separators for non-grouped items */
.modules-left > .module:not(:last-child),
.modules-center > .module:not(:last-child) {
  border-right: 1px solid #4d4d4d;
}
#tray {
  border-right: 1px solid #4d4d4d;
}
#clock {
  border-right: 1px solid #4d4d4d;
}

/* System Tray Group */
.systray-group {
  background-color: rgba(0, 0, 0, 0.25);
}
#custom-notifications {
  /* First item in group */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 12px;
}
#clock {
  /* Last item in group */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 12px;
}

#workspaces button {
  padding: 0 5px;
  color: #7c818c;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#custom-apps,
#mpris,
#tray,
#custom-notifications,
#hyprland-language,
#bluetooth,
#pulseaudio,
#network,
#clock,
#custom-powermenu {
  padding-top: 4px;
}

#pulseaudio {
  padding-bottom: 2px;
}
