/*
 * Waybar Theme: 9/10 - Material You Dark (Lilac)
 */
* {
    font-family: "Inter", "JetBrainsMono Nerd Font", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: none;
    min-height: 0;
}

window#waybar {
    background-color: #383340; /* Dark Lilac Background */
    color: #e8eaed; /* Light Text */
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 10px;
}

#workspaces button {
    color: #a79eb1;
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button.active {
    color: #d0bfff; /* Lilac Accent */
    border-bottom: 3px solid #d0bfff;
}

#clock,
#bluetooth,
#network,
#pulseaudio,
#hyprland-language,
#tray {
    padding: 0 10px;
}

#custom-apps {
    color: #d0bfff; /* Lilac Accent */
    font-size: 18px;
    padding-right: 5px;
}

#custom-powermenu {
    color: #f28b82; /* Red for power */
}