* {
    font-family: "JetBrainsMono Nerd Font", "sans-serif";
    font-weight: bold;
    font-size: 13px;
    color: #cdd6f4; /* Catppuccin Macchiato Text */
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    background-color: rgba(30, 30, 46, 0.8); /* Catppuccin Macchiato Base, 80% transparent */
    border: 1px solid #494d64; /* Catppuccin Macchiato Overlay1 */
    border-radius: 12px;
    margin: 5px;
    padding: 0 5px;
}

/* All modules */
#workspaces,
#custom-apps,
#mpris,
#tray,
#custom-notifications,
#hyprland-language,
#bluetooth,
#pulseaudio,
#network,
#clock,
#custom-powermenu {
    padding: 2px 10px;
    margin: 4px 2px;
}

/* Specific module styling */
#workspaces button {
    all: unset;
    color: #494d64; /* Inactive workspace color */
    background-color: transparent;
    border-radius: 8px;
    min-width: 10px;
    margin: 2px;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #89b4fa; /* Catppuccin Macchiato Blue */
    background-color: rgba(137, 180, 250, 0.2);
}

#workspaces button:hover {
    color: #89b4fa;
    background-color: rgba(137, 180, 250, 0.1);
}

#custom-powermenu {
    color: #f38ba8; /* Catppuccin Macchiato Red */
}
