.modules-left, .modules-center, .modules-right {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 0 12px;
}
#workspaces button.active { color: #3fb2ff; }
#mpris { color: #3fb2ff; font-style: italic; }
