* {
    font-family: 'Inter', monospace;
    font-size: 14px;
    outline: none;
}

#window {
    all: unset;
}

#outer-box {
    padding: 20px;
    background-color: #21222d;
    border-radius: 5px;
    border: 2px solid #171821;
}

#input {
    all: unset;
    margin-bottom: 20px;
    border: 2px solid #171821;
    padding: 10px;
    border-radius: 2px;
}

#input image {
    color: #fff;
}

#img {
    margin-right: 10px;
}

.entry {
    all: unset;
    padding: 8px;
}

#entry:selected {
    border-radius: 2px;
    background-color: #171821;
}